.app {
    position: relative;
    background-color: #FAFAFA;
    min-height: 100vh;
    &__header {
        max-height: 201px;
        padding: 40px 60px;
        padding-left: 300px;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    }

    &__title {
        margin: 0;
        font-family: $famyli-open-sans;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
    }

    &__search-panel {
        margin-top: 31px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        padding: 30px 50px 90px 290px;
    }
};